<div id="register">
    <div class="container p-0">
        <div *ngIf="isUserSaved" class="alert alert-success col-8 m-auto">
            <span>Usuario Registrado</span>
        </div>

        <form role="form" class="col-8 mx-auto shadow-sm mt-4 py-4 px-4 border rounded border-primary" id="arooly_cform"
              [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h2 class="mb-4 text-primary text-center">Registro de usuario</h2>

            <div class="form-group">
                <label for="inputName" class="font-weight-bold">Usuario</label>
                <div class="input-group Name">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control"  id="inputName" name="inputName" formControlName="username"
                           placeholder="Identificador de usuario">
                </div>
                <div *ngIf="username.invalid && username.touched" class="col-4 p-0 ml-5 text-danger">
                    <p *ngIf="username.errors?.required">
                        Escoger un nombre de usuario
                    </p>
                    <p *ngIf="username.errors?.usertaken">
                        Escoger otro nombre
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail" class="font-weight-bold">Correo</label>
                <div class="input-group email">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                    </div>
                    <input type="email" class="form-control" id="inputEmail" name="inputEmail" formControlName="email"
                           placeholder="Email">
                </div>
                <div *ngIf="email.invalid && email.touched" class="col-4 p-0 ml-5 text-danger">
                    <p *ngIf="email.errors?.required">
                        Correo electronico obligatorio
                    </p>
                    <p *ngIf="email.errors?.pattern">
                        Correo electronico invalido
                    </p>
                </div>
            </div>

            <div formGroupName="password">
                <div class="form-group">
                    <label for="inputKey" class="font-weight-bold">Clave</label>
                    <div class="input-group password">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i>
                            </div>
                        </div>
                        <input type="password" class="form-control" id="inputKey" name="inputKey" formControlName="pwd"
                               placeholder="Clave">
                    </div>
                    <div *ngIf="pwd.invalid && pwd.touched" class="col-4 p-0 ml-5 text-danger">
                        <p *ngIf="pwd.errors?.required">
                            Escoger ua contraseña
                        </p>

                        <p *ngIf="pwd.errors?.minlength">
                            La contraseña es my corta
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputKeybis" class="font-weight-bold">Repita Clave</label>
                    <div class="input-group password">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i>
                            </div>
                        </div>
                        <input type="password" class="form-control" id="inputKeybis" name="inputKeybis"
                               formControlName="confirmpwd"
                               placeholder="Repita clave">
                    </div>
                    <div *ngIf="confirmpwd.invalid && confirmpwd.touched" class="col-4 p-0 ml-5 text-danger">
                        <p *ngIf="confirmpwd.errors?.required">
                            Confirma la contraseña
                        </p>

                        <p *ngIf="confirmpwd.errors?.mustMatch">
                            La contraseña no corresponde
                        </p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="inputDate" class="font-weight-bold">Fecha de nacimiento</label>
                <div class="input-group mydate">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                    </div>
                    <input type="date" class="form-control" id="inputDate" name="inputDate" formControlName="birthDate">
                </div>
            </div>

            <div class="text-center">
                <button type="submit" [disabled]="!registerForm.valid"
                        class="d-inline-block btn btn-lg btn-primary">Registrarse
                </button>
            </div>

        </form>
    </div>
</div>
